package serverLayout

import "Gooo/server/components"

templ Main(title string) {
	@Base(title) {
		@serverComponents.Navigation()
		<main class="w-full h-full bg-base-100 flex items-start justify-center px-4 py-2 overflow-auto">
			<div class="flex flex-col items-center justify-center max-w-5xl w-full py-5">
				<div gooo-layout="home" class="flex flex-col items-center h-full w-full my-5">
					{ children... }
				</div>
			</div>
		</main>
	}
}
