package GoooLink

import "Gooo/server/utility"
import "github.com/lithammer/shortuuid/v4"

var uniqueID = shortuuid.New()

templ Ghost(viteInputName string, url string, text string) {
	<script type="application/json"></script>
	<div id={ uniqueID }>
		<a href={ url }>
			{ text }
		</a>
	</div>
	@serverUtility.ConnectFrontend(viteInputName)
}
