package GoooLink

import "Gooo/server/utility"
import "github.com/lithammer/shortuuid/v4"

var uniqueID = shortuuid.New()

templ Ghost(viteInputName string, url string) {
	<script type=""></script>
	<div id={ uniqueID }></div>
	@serverUtility.ConnectFrontend(viteInputName)
}
