package serverPages

import "Gooo/server/layout"

templ Home() {
	@serverLayout.Main("Gooo") {
		<div class="w-full flex flex-col items-center justify-center">
			<p class="text-7xl font-extrabold text-center text-pretty mt-20 bg-clip-text text-transparent bg-gradient-to-br from-vue to-go leading-tight max-w-6xl">The Web Toolkit for Go and Vue Projects</p>
		</div>
	}
}
