package serverPages

import "Gooo/server/layout"

templ Home() {
	@serverLayout.Main("Gooo") {
		<div class="w-full flex flex-col items-center justify-center">
			<p class="text-7xl font-extrabold text-center text-pretty mt-20 text-primary">The Web Toolkit for Go and Vue Projects</p>
		</div>
	}
}
